{
  "openapi": "3.0.2",
  "info": {
    "title": "Bayut API",
    "version": "1.0",
    "x-twitter": "https://x.com/bayut_api",
    "x-linkedin": "https://www.linkedin.com/in/bayut-api/",
    "x-logo": {
      "url": "https://bayutapi.com/imgs/logo/bayut-api-logo-dark.svg"
    },
    "description": "Bayut API is a property finder API that allows you to search for real estate properties in the UAE by scraping data from Bayut's Website (https://bayut.com).\n\nYou can gather data related to properties, agencies, agents, developers, amenities, transactions, etc…\n",
    "contact": {
      "name": "Email",
      "email": "bayut.restapi@gmail.com",
      "url": "https://bayutapi.com"
    },
    "termsOfService": "https://bayutapi.com/terms_of_use.html"
  },
  "externalDocs": {
    "description": "Read more",
    "url": "https://bayutapi.com/documentation.html?utm_source=swagger_docs&utm_medium=external_docs&utm_campaign=api_reference"
  },
  "servers": [
    {
      "url": "https://uae-real-estate2.p.rapidapi.com"
    }
  ],
  "paths": {
    "/locations_search?query={query}": {
      "get": {
        "summary": "Locations Search",
        "description": "Returns a list of locations (in UAE) for the given `query`.\n\n- Supports pagination via the `page` parameter.\n- Maximum results per page is 25.\n",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search query string to match against location names.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "abu"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paginated results (starts from 0).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "langs",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of preferred language codes (`en`, `ar`, `ru`, `zh`).",
            "schema": {
              "type": "string",
              "default": "en",
              "example": "ar",
              "style": "form",
              "explode": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of locations matching the search query.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "List of matching locations.",
                      "items": {
                        "type": "object",
                        "description": "A single location entry.",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique identifier of the location.",
                            "example": 87494
                          },
                          "name": {
                            "type": "string",
                            "description": "Official name of the location.",
                            "example": "Abudlla Al Fahad 3 Building"
                          },
                          "name_ar": {
                            "type": "string",
                            "example": "بناية عبد الله الفهد 3",
                            "description": "Arabic name of the location when langs=`ar`."
                          },
                          "level": {
                            "type": "string",
                            "description": "The granularity level of the location (e.g., country, city, community, sub_community, cluster, building, checkpoint).\n",
                            "example": "building",
                            "enum": [
                              "country",
                              "city",
                              "community",
                              "sub_community",
                              "cluster",
                              "building",
                              "checkpoint"
                            ]
                          },
                          "full": {
                            "type": "object",
                            "description": "The full hierarchy of this location (country → city → community → sub_community → cluster → building → checkpoint).",
                            "properties": {
                              "country": {
                                "type": "object",
                                "description": "Country-level information.",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "Country ID.",
                                    "example": 1
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Country name.",
                                    "example": "UAE"
                                  },
                                  "name_ar": {
                                    "type": "string",
                                    "description": "Country name in arabic.",
                                    "example": "الإمارات"
                                  }
                                }
                              },
                              "city": {
                                "type": "object",
                                "description": "City-level information.",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "City ID.",
                                    "example": 2
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "City name.",
                                    "example": "Dubai"
                                  },
                                  "name_ar": {
                                    "type": "string",
                                    "description": "City name in arabic.",
                                    "example": "دبي"
                                  }
                                }
                              },
                              "community": {
                                "type": "object",
                                "description": "Community-level information (if applicable).",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "Community ID.",
                                    "example": 532
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Community name.",
                                    "example": "Al Qusais"
                                  },
                                  "name_ar": {
                                    "type": "string",
                                    "description": "Community name in arabic.",
                                    "example": "القصيص"
                                  }
                                }
                              },
                              "sub_community": {
                                "type": "object",
                                "description": "Sub-community-level information (if applicable).",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "Sub-community ID.",
                                    "example": 2388
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Sub-community name.",
                                    "example": "Al Qusais Industrial Area"
                                  },
                                  "name_ar": {
                                    "type": "string",
                                    "description": "Sub-community name in arabic.",
                                    "example": "القصيص الصناعية"
                                  }
                                }
                              },
                              "cluster": {
                                "type": "object",
                                "description": "Cluster-level information (if applicable).",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "Cluster ID.",
                                    "example": 5120
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Cluster name.",
                                    "example": "Al Qusais Industrial 2"
                                  },
                                  "name_ar": {
                                    "type": "string",
                                    "description": "Cluster name in arabic.",
                                    "example": "القصيص الصناعية 2"
                                  }
                                }
                              },
                              "building": {
                                "type": "object",
                                "description": "Building-level information (if applicable).",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "Building ID.",
                                    "example": 87494
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Building name.",
                                    "example": "Abudlla Al Fahad 3 Building"
                                  },
                                  "name_ar": {
                                    "type": "string",
                                    "description": "Building name in arabic.",
                                    "example": "بناية عبد الله الفهد 3"
                                  }
                                }
                              }
                            }
                          },
                          "coordinates": {
                            "type": "object",
                            "description": "Geographical coordinates of the location.",
                            "properties": {
                              "lat": {
                                "type": "number",
                                "format": "float",
                                "description": "Latitude.",
                                "example": 25.277729790829
                              },
                              "lng": {
                                "type": "number",
                                "format": "float",
                                "description": "Longitude.",
                                "example": 55.385791484737
                              }
                            }
                          },
                          "completion_status": {
                            "type": "string",
                            "description": "Development status for this location. Possible values:\n  - ready (fully developed)\n  - off_plan (under-construction/pre-construction)\n  - mixed (partially developed)\n",
                            "example": "ready",
                            "enum": [
                              "ready",
                              "off_plan",
                              "mixed"
                            ]
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of matching locations on that page.",
                      "example": 25
                    },
                    "query": {
                      "type": "string",
                      "description": "The original search query string.",
                      "example": "abu"
                    },
                    "page": {
                      "type": "integer",
                      "description": "The requested page number.",
                      "example": 0
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/properties_search": {
      "post": {
        "summary": "Properties Search",
        "description": "Returns a list of real estate properties in UAE filtered by purpose,  category, locations, price range, area, completion status, amenities, and more.\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paginated results (starts from 0).",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "langs",
            "in": "query",
            "description": "Comma-separated list of preferred language codes (`en`, `ar`, `ru`, `zh`).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "example": "ar"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "purpose": {
                    "type": "string",
                    "description": "Listing intent to filter properties (`for-sale`, `for-rent`).",
                    "example": "for-sale"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Property category code to filter (`residential`, `hotel-apartments`, `apartments`, `townhouses`, `villas`, `penthouse`, `villa-compound`, `residential-plots`, `residential-floors`, `residential-building`,\n`commercial`, `offices`, `shops`, `warehouses`, `labour-camps`, `commercial-villas`, `bulk-units`, `commercial-plots`, `commercial-floors`, `commercial-buildings`, `factories`, `industrial-land`, `mixed-use-land`, `showrooms`, `commercial-properties`).",
                    "example": [
                      "apartments"
                    ]
                  },
                  "locations_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Comma-separated list of location IDs to filter properties by service areas.",
                    "example": [
                      2,
                      3
                    ]
                  },
                  "index": {
                    "type": "string",
                    "description": "Sort the result by `popular`, `verified`, `latest`, `lowest_price`, `highest_price`.",
                    "example": "popular"
                  },
                  "is_completed": {
                    "type": "boolean",
                    "example": false,
                    "description": "Flag to filter properties based on their completion status (`under-construction` or `completed`)."
                  },
                  "agent_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Agent's Unique identifier.",
                    "example": [
                      2191615
                    ]
                  },
                  "agency_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Agency's Unique identifier.",
                    "example": [
                      10527
                    ]
                  },
                  "developer_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Developer's Unique identifier.",
                    "example": [
                      901
                    ]
                  },
                  "rooms": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Allowed number of bedrooms.",
                    "example": [
                      0,
                      1,
                      2,
                      3
                    ]
                  },
                  "baths": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Allowed number of bathrooms.",
                    "example": [
                      0,
                      1,
                      2,
                      3,
                      4
                    ]
                  },
                  "is_furnished": {
                    "type": "boolean",
                    "description": "Flag to filter properties based on furnishing status (`true` for furnished, `false` for unfurnished).",
                    "example": false
                  },
                  "completion_percent_min": {
                    "type": "integer",
                    "description": "Minimum completion percentage of the properties under construction (applicable when `is_completed` is `false`).",
                    "example": 0
                  },
                  "completion_percent_max": {
                    "type": "integer",
                    "description": "Maximum completion percentage of the properties under construction (applicable when `is_completed` is `false`).",
                    "example": 90
                  },
                  "price_min": {
                    "type": "number",
                    "format": "float",
                    "description": "Minimum property price in AED.",
                    "example": 500000
                  },
                  "price_max": {
                    "type": "number",
                    "format": "float",
                    "description": "Maximum property price in AED.",
                    "example": 1000000
                  },
                  "has_video": {
                    "type": "boolean",
                    "description": "Flag to include (`true`) or exclude (`false`) properties with video tours. Don't use this parameter if it doesn't matter.",
                    "example": false
                  },
                  "has_360_tour": {
                    "type": "boolean",
                    "description": "Flag to include (`true`) or exclude (`false`) properties with 360° tours. Don't use this parameter if it doesn't matter.",
                    "example": false
                  },
                  "has_floorplan": {
                    "type": "boolean",
                    "description": "Flag to include (`true`) or exclude (`false`) properties with floor plans. Don't use this parameter if it doesn't matter.",
                    "example": true
                  },
                  "amenities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of desired amenities to filter properties.",
                    "example": [
                      "ATM Facility",
                      "Sauna"
                    ]
                  },
                  "area_min": {
                    "type": "number",
                    "description": "Minimum area in sqft to filter properties.",
                    "example": 400
                  },
                  "area_max": {
                    "type": "number",
                    "description": "Maximum area in sqft to filter properties.",
                    "example": 1000
                  },
                  "completion_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Expected completion date (DD-MM-YYYY).",
                    "example": "31-12-2027"
                  },
                  "sale_type": {
                    "type": "string",
                    "description": "Type of off-plan sale (any, new, resale, by_developer).",
                    "example": "any"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of properties matching the search criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "Array of property objects.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique property identifier.",
                            "example": 11902621
                          },
                          "title": {
                            "type": "string",
                            "description": "Property title.",
                            "example": "💠Studio with Swimming Pool | 💠High Floor - 💠MODERN INTERIOR |💠 Investor Deal |💠 Pool View 💠| Resort-Style"
                          },
                          "reference_number": {
                            "type": "string",
                            "description": "Property reference code.",
                            "example": "10527-HqMWQ3"
                          },
                          "purpose": {
                            "type": "string",
                            "description": "Listing intent (e.g., `for-sale`, `for-rent`).",
                            "example": "for-sale"
                          },
                          "type": {
                            "type": "object",
                            "properties": {
                              "main": {
                                "type": "string",
                                "description": "Primary property classification (Residential or Commercial).",
                                "example": "Residential"
                              },
                              "sub": {
                                "type": "string",
                                "description": "Sub-category of the property.",
                                "example": "Apartments"
                              }
                            }
                          },
                          "price": {
                            "type": "number",
                            "format": "float",
                            "description": "Listing price in AED.",
                            "example": 803709
                          },
                          "area": {
                            "type": "object",
                            "properties": {
                              "built_up": {
                                "type": "number",
                                "description": "Built-up area.",
                                "example": 430
                              },
                              "plot": {
                                "type": "number",
                                "nullable": true,
                                "description": "Plot area (if applicable).",
                                "example": null
                              },
                              "unit": {
                                "type": "string",
                                "description": "Unit of area measurement.",
                                "example": "sqft"
                              }
                            }
                          },
                          "details": {
                            "type": "object",
                            "properties": {
                              "bedrooms": {
                                "type": "integer",
                                "description": "Number of bedrooms.",
                                "example": 0
                              },
                              "bathrooms": {
                                "type": "integer",
                                "description": "Number of bathrooms.",
                                "example": 1
                              },
                              "is_furnished": {
                                "type": "boolean",
                                "description": "Flag indicating if the property is furnished or unfurnished.",
                                "example": false
                              },
                              "completion_status": {
                                "type": "string",
                                "description": "Current construction status of the property - `under-construction` or `completed`.",
                                "example": "under-construction"
                              },
                              "completion_details": {
                                "type": "object",
                                "properties": {
                                  "percentage": {
                                    "type": "float",
                                    "description": "Completion percentage of the property.",
                                    "example": 2
                                  },
                                  "start_date": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Construction start date in ISO 8601 format.",
                                    "example": "2023-11-29T20:00:00Z"
                                  },
                                  "completion_date": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Expected completion date in ISO 8601 format.",
                                    "example": "2027-12-30T20:00:00Z"
                                  }
                                }
                              }
                            }
                          },
                          "keywords": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Keywords associated with the property.",
                            "example": [
                              "parking",
                              "private pool"
                            ]
                          },
                          "location": {
                            "type": "object",
                            "description": "Geographic hierarchy and coordinates of the property.",
                            "properties": {
                              "country": {
                                "type": "object",
                                "description": "Country where the property is located.",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "Country ID.",
                                    "example": 1
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Country name.",
                                    "example": "UAE"
                                  }
                                }
                              },
                              "city": {
                                "type": "object",
                                "description": "City where the property is located.",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "City ID.",
                                    "example": 2
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "City name.",
                                    "example": "Dubai"
                                  }
                                }
                              },
                              "community": {
                                "type": "object",
                                "description": "Primary community or district",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "Community ID.",
                                    "example": 603
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Community name.",
                                    "example": "Dubai Land Residence Complex"
                                  }
                                }
                              },
                              "sub_community": {
                                "type": "object",
                                "description": "Smaller subdivision within the community (if applicable).",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "Sub-community ID.",
                                    "example": 87107
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Sub-community name.",
                                    "example": "Samana Ivy Gardens 2"
                                  }
                                }
                              },
                              "cluster": {
                                "type": "object",
                                "description": "Minor cluster grouping, if any.",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Cluster (or building) ID.",
                                    "example": null
                                  },
                                  "name": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Cluster name.",
                                    "example": null
                                  }
                                }
                              },
                              "coordinates": {
                                "type": "object",
                                "description": "Latitude and longitude for map display.",
                                "properties": {
                                  "lat": {
                                    "type": "float",
                                    "description": "Latitude.",
                                    "example": 25.100567978673
                                  },
                                  "lng": {
                                    "type": "float",
                                    "description": "Longitude.",
                                    "example": 55.377066359108
                                  }
                                }
                              }
                            }
                          },
                          "agency": {
                            "type": "object",
                            "description": "Agency information.",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "Agency ID.",
                                "example": 10527
                              },
                              "name": {
                                "type": "string",
                                "description": "Agency name.",
                                "example": "Trusty Home for Real Estate"
                              },
                              "logo_url": {
                                "type": "string",
                                "format": "uri",
                                "description": "Agency logo image URL.",
                                "example": "https://bayut-production.s3.eu-central-1.amazonaws.com/image/105840265/43d17f3aba7b48b5b5257c69be564239"
                              },
                              "licenses": {
                                "type": "array",
                                "description": "Regulatory licenses held by the agency.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "number": {
                                      "type": "string",
                                      "description": "License number.",
                                      "example": "950348"
                                    },
                                    "authority": {
                                      "type": "string",
                                      "description": "Issuing authority.",
                                      "example": "DED"
                                    }
                                  }
                                }
                              },
                              "product": {
                                "type": "string",
                                "description": "Agency product tier.",
                                "example": "premium"
                              },
                              "product_score": {
                                "type": "integer",
                                "description": "Numeric score of product.",
                                "example": 2
                              },
                              "performance": {
                                "type": "string",
                                "description": "Performance status.",
                                "example": "overachieving"
                              }
                            }
                          },
                          "agent": {
                            "type": "object",
                            "description": "Individual agent details for this listing.",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "Agent's unique identifier.",
                                "example": 2191615
                              },
                              "name": {
                                "type": "string",
                                "description": "Agent's full name.",
                                "example": "Ibrahim Hassan"
                              },
                              "profile_image": {
                                "type": "string",
                                "format": "uri",
                                "description": "Agent's profile photo URL.",
                                "example": "https://bayut-production.s3.eu-central-1.amazonaws.com/image/515469508/d2c52169b345480db9d7bf61128304f7"
                              },
                              "is_tru_broker": {
                                "type": "boolean",
                                "description": "Exclusive badge awarded to agents who are highly responsive and advertise genuine properties.",
                                "example": true
                              },
                              "contact": {
                                "type": "object",
                                "description": "Agent's contact channels.",
                                "properties": {
                                  "mobile": {
                                    "type": "string",
                                    "description": "Mobile number (if available).",
                                    "example": "+97142483751"
                                  },
                                  "phone": {
                                    "type": "string",
                                    "description": "Phone number (if available).",
                                    "example": "+97142483756"
                                  },
                                  "whatsapp": {
                                    "type": "string",
                                    "description": "WhatsApp number (if available).",
                                    "example": "+97142483751"
                                  },
                                  "proxy_phone": {
                                    "type": "string",
                                    "description": "Proxy phone number for privacy (if available).",
                                    "example": ""
                                  }
                                }
                              }
                            }
                          },
                          "amenities": {
                            "type": "array",
                            "description": "Available amenities.",
                            "items": {
                              "type": "string",
                              "example": [
                                "Conference Room",
                                "Completion Year",
                                "Gym or Health Club"
                              ]
                            }
                          },
                          "media": {
                            "type": "object",
                            "description": "Photos and videos associated with the property.",
                            "properties": {
                              "cover_photo": {
                                "type": "string",
                                "format": "uri",
                                "description": "Cover Image URL",
                                "example": "https://bayut-production.s3.eu-central-1.amazonaws.com/image/778964024/50eda0322ef94212a88fd5e7355caa30"
                              },
                              "photo_count": {
                                "type": "integer",
                                "description": "Number of photos.",
                                "example": 10
                              },
                              "photos": {
                                "type": "array",
                                "description": "URLs of property photos.",
                                "items": {
                                  "type": "string",
                                  "format": "uri",
                                  "example": [
                                    "https://images.bayut.com/thumbnails/778964024-800x600.jpeg"
                                  ]
                                }
                              },
                              "video_count": {
                                "type": "integer",
                                "description": "Number of videos.",
                                "example": 0
                              },
                              "panorama_count": {
                                "type": "integer",
                                "description": "Number of 360° panoramas.",
                                "example": 0
                              },
                              "cover_video": {
                                "type": "string",
                                "description": "Property video URL.",
                                "example": ""
                              }
                            }
                          },
                          "verification": {
                            "type": "object",
                            "description": "Verification details for the listing.",
                            "properties": {
                              "is_verified": {
                                "type": "boolean",
                                "description": "Property verification flag - Bayut has checked this property's documentation to ensure its authenticity.",
                                "example": true
                              },
                              "verified_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Verification timestamp.",
                                "example": "2025-06-12T11:21:14Z"
                              },
                              "truchecked_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "TruCheck timestamp - Having TruCheck™ confirms that Bayut's quality control team has validated the Oqood (contracts) of this property.",
                                "example": "2025-06-12T11:21:14Z"
                              }
                            }
                          },
                          "legal": {
                            "type": "object",
                            "description": "Legal identifiers for the property.",
                            "properties": {
                              "permit_number": {
                                "type": "string",
                                "description": "A permit issued to RERA registered companies and Dubai developers confirming their right to advertise properties.",
                                "example": "71618166211"
                              },
                              "dld_property_sk": {
                                "type": "string",
                                "description": "DLD (Dubai Land Department) property key.",
                                "example": "11902621"
                              },
                              "dld_building_nk": {
                                "type": "string",
                                "description": "DLD (Dubai Land Department) building key.",
                                "example": "tabu-618131172"
                              }
                            }
                          },
                          "project": {
                            "type": "object",
                            "description": "Development project details.",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "Project's unique identifier.",
                                "example": 1475
                              },
                              "completion_status": {
                                "type": "string",
                                "description": "Project completion status.",
                                "example": "under-construction"
                              },
                              "developer": {
                                "type": "object",
                                "description": "Developer details for this project.",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "Developer's unique identifier.",
                                    "example": 901
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Developer name.",
                                    "example": "Samana Developers"
                                  }
                                }
                              }
                            }
                          },
                          "payment_plans": {
                            "type": "array",
                            "description": "Structured payment plan schedules.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "down_payment_percent": {
                                  "type": "integer",
                                  "description": "Percentage due at down-payment.",
                                  "example": 20
                                },
                                "pre_handover_percent": {
                                  "type": "integer",
                                  "description": "Percentage payable before handover.",
                                  "example": 56
                                },
                                "handover_percent": {
                                  "type": "integer",
                                  "nullable": true,
                                  "description": "Percentage due at handover.",
                                  "example": 1
                                },
                                "post_handover_percent": {
                                  "type": "integer",
                                  "nullable": true,
                                  "description": "Percentage due after handover.",
                                  "example": 23
                                }
                              }
                            }
                          },
                          "contact_methods": {
                            "type": "array",
                            "description": "Supported communication channels for inquiries.",
                            "items": {
                              "type": "string",
                              "example": "whatsapp"
                            }
                          },
                          "indy_score": {
                            "type": "integer",
                            "description": "Indy score.",
                            "example": 645
                          },
                          "score": {
                            "type": "integer",
                            "description": "Overall property quality score.",
                            "example": 75
                          },
                          "city_level_score": {
                            "type": "integer",
                            "description": "City-level ranking score.",
                            "example": 3
                          },
                          "location_purpose_tier": {
                            "type": "integer",
                            "description": "Tier based on location and purpose.",
                            "example": 3
                          },
                          "meta": {
                            "type": "object",
                            "description": "Metadata and lifecycle timestamps.",
                            "properties": {
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation timestamp.",
                                "example": "2025-06-12T11:21:01Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update timestamp.",
                                "example": "2025-06-17T04:21:00Z"
                              },
                              "reactivated_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Reactivation timestamp.",
                                "example": "2025-06-12T11:21:01Z"
                              },
                              "product": {
                                "type": "string",
                                "description": "Listing product tier.",
                                "example": "premium"
                              },
                              "url": {
                                "type": "string",
                                "format": "uri",
                                "description": "Property URL.",
                                "example": "https://www.bayut.com/property/details-11902621.html"
                              },
                              "product_label": {
                                "type": "string",
                                "description": "Label for the listing product.",
                                "example": "default"
                              },
                              "source_id": {
                                "type": "integer",
                                "description": "Internal source identifier.",
                                "example": 1
                              }
                            }
                          },
                          "offplan_details": {
                            "type": "object",
                            "description": "Details specific to off-plan properties.",
                            "properties": {
                              "sale_type": {
                                "type": "string",
                                "description": "Type of off-plan sale (new, resale, direct_from_developer).",
                                "example": ""
                              },
                              "original_price": {
                                "type": "number",
                                "nullable": true,
                                "description": "Original listing price.",
                                "example": null
                              },
                              "paid_price": {
                                "type": "number",
                                "nullable": true,
                                "description": "Amount already paid.",
                                "example": null
                              },
                              "dld_waiver": {
                                "type": "boolean",
                                "nullable": true,
                                "description": "Any applicable DLD waiver code.",
                                "example": null
                              }
                            }
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of listings matching the criteria.",
                      "example": 1
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current result page number.",
                      "example": 0
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/property/{property_id}": {
      "get": {
        "summary": "Property Info",
        "description": "Fetch comprehensive details for a single property listing by its unique ID. Includes pricing, specifications, location hierarchy, agency and agent info, media assets, verification, legal data, project details, amenities, floor plans, payment plans, and so on.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Property's unique identifier. (Get it from the property search results.)",
            "schema": {
              "type": "integer",
              "example": 11761721
            }
          },
          {
            "name": "langs",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of language codes (`en`, `ar`, `ru`, `zh`).",
            "schema": {
              "type": "string",
              "example": "ar",
              "style": "form",
              "explode": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed property profile including specifications, media, and metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 11761721,
                      "description": "Property's unique identifier."
                    },
                    "title": {
                      "type": "string",
                      "example": "Fully Furnished | Handover now | Great Layout",
                      "description": "Property title."
                    },
                    "title_ar": {
                      "type": "string",
                      "example": "شقة في الصرح ريزيدنسز 11...",
                      "description": "Property title (in Arabic)."
                    },
                    "reference_number": {
                      "type": "string",
                      "example": "B-AS-136099",
                      "description": "Reference number for the listing."
                    },
                    "purpose": {
                      "type": "string",
                      "example": "for-sale",
                      "description": "Listing intent (`for-sale` or `for-rent`)."
                    },
                    "type": {
                      "type": "object",
                      "description": "Classification of the property type.",
                      "properties": {
                        "main": {
                          "type": "string",
                          "example": "Residential",
                          "description": "Main property category in English."
                        },
                        "sub": {
                          "type": "string",
                          "example": "Apartments",
                          "description": "Sub-category in English."
                        },
                        "main_ar": {
                          "type": "string",
                          "example": "سكني",
                          "description": "Main category in Arabic."
                        },
                        "sub_ar": {
                          "type": "string",
                          "example": "شقق",
                          "description": "Sub-category in Arabic."
                        }
                      }
                    },
                    "price": {
                      "type": "number",
                      "format": "integer",
                      "example": 1310000,
                      "description": "Property price in AED."
                    },
                    "area": {
                      "type": "object",
                      "description": "Size metrics of the property.",
                      "properties": {
                        "built_up": {
                          "type": "number",
                          "example": 863,
                          "description": "Built-up area value."
                        },
                        "plot": {
                          "type": "number",
                          "example": null,
                          "description": "Plot area, if applicable."
                        },
                        "unit": {
                          "type": "string",
                          "example": "sqft",
                          "description": "Unit of measurement."
                        }
                      }
                    },
                    "details": {
                      "type": "object",
                      "description": "Feature details of the unit.",
                      "properties": {
                        "bedrooms": {
                          "type": "integer",
                          "example": 1,
                          "description": "Number of bedrooms."
                        },
                        "bathrooms": {
                          "type": "integer",
                          "example": 1,
                          "description": "Number of bathrooms."
                        },
                        "is_furnished": {
                          "type": "boolean",
                          "example": false,
                          "description": "Flag indicating whether the property is furnished or unfurnished."
                        },
                        "completion_status": {
                          "type": "string",
                          "example": "under-construction",
                          "description": "Current construction status of the property (`under-construction` or `completed`)."
                        },
                        "completion_details": {
                          "type": "object",
                          "description": "Timeline details for off-plan properties.",
                          "properties": {
                            "percentage": {
                              "type": "float",
                              "example": 90,
                              "description": "Percentage of completion."
                            },
                            "start_date": {
                              "type": "date-time",
                              "example": "2023-11-12 20:00:00",
                              "description": "Construction start date."
                            },
                            "completion_date": {
                              "type": "date-time",
                              "example": "2025-06-29 20:00:00",
                              "description": "Construction completion date."
                            }
                          }
                        }
                      }
                    },
                    "description": {
                      "type": "string",
                      "example": "Property Listing: 1-Bedroom Apartment for Sale in Al Serh Residences 11...",
                      "description": "Detailed description of the property (in English)."
                    },
                    "description_ar": {
                      "type": "string",
                      "example": "عقارات: شقة من غرفة نوم واحدة للبيع في الصرح ريزيدنسز 11...",
                      "description": "Property description (in Arabic)."
                    },
                    "location": {
                      "type": "object",
                      "description": "Hierarchical location details and coordinates.",
                      "properties": {
                        "country": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1,
                              "description": "Country ID."
                            },
                            "name": {
                              "type": "string",
                              "example": "UAE",
                              "description": "Country name in English."
                            },
                            "name_ar": {
                              "type": "string",
                              "example": "الإمارات",
                              "description": "Country name in Arabic."
                            }
                          }
                        },
                        "city": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 2,
                              "description": "City ID."
                            },
                            "name": {
                              "type": "string",
                              "example": "Dubai",
                              "description": "City name in English."
                            },
                            "name_ar": {
                              "type": "string",
                              "example": "دبي",
                              "description": "City name in Arabic."
                            }
                          }
                        },
                        "community": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 59,
                              "description": "Community ID."
                            },
                            "name": {
                              "type": "string",
                              "example": "Jumeirah Village Circle (JVC)",
                              "description": "Community name in English."
                            },
                            "name_ar": {
                              "type": "string",
                              "example": "قرية جميرا الدائرية",
                              "description": "Community name in Arabic."
                            }
                          }
                        },
                        "sub_community": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 2478,
                              "description": "Sub-community ID."
                            },
                            "name": {
                              "type": "string",
                              "example": "JVC District 10",
                              "description": "Sub-community name in English."
                            },
                            "name_ar": {
                              "type": "string",
                              "example": "الضاحية 10",
                              "description": "Sub-community name in Arabic."
                            }
                          }
                        },
                        "cluster": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 87382,
                              "description": "Cluster (building) ID."
                            },
                            "name": {
                              "type": "string",
                              "example": "Al Serh Residences 11",
                              "description": "Cluster name in English."
                            },
                            "name_ar": {
                              "type": "string",
                              "example": "الصرح ريزيدنسز 11",
                              "description": "Cluster name in Arabic."
                            }
                          }
                        },
                        "coordinates": {
                          "type": "object",
                          "properties": {
                            "lat": {
                              "type": "number",
                              "format": "float",
                              "example": 25.068235722137,
                              "description": "Latitude."
                            },
                            "lng": {
                              "type": "number",
                              "format": "float",
                              "example": 55.207312337965,
                              "description": "Longitude."
                            }
                          }
                        }
                      }
                    },
                    "agency": {
                      "type": "object",
                      "description": "Agency information.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 29583354,
                          "description": "Agency's unique identifier."
                        },
                        "name": {
                          "type": "string",
                          "example": "fäm Properties - Branch 7",
                          "description": "Agency name (in English)."
                        },
                        "name_ar": {
                          "type": "string",
                          "example": "فام العقارية - الفرع 7",
                          "description": "Agency name (in Arabic)."
                        },
                        "logo_url": {
                          "type": "string",
                          "example": "https://bayut-production.s3.eu-central-1.amazonaws.com/image/96047125/a0643acad8cc4f56be6c26e23116d29b",
                          "description": "URL to agency logo image."
                        },
                        "licenses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "number": {
                                "type": "string",
                                "example": "718828",
                                "description": "License number."
                              },
                              "authority": {
                                "type": "string",
                                "example": "DED",
                                "description": "Issuing authority."
                              }
                            }
                          }
                        },
                        "product": {
                          "type": "string",
                          "example": "premium",
                          "description": "Agency product tier."
                        },
                        "performance": {
                          "type": "string",
                          "example": "underachieving",
                          "description": "Performance status."
                        },
                        "product_score": {
                          "type": "integer",
                          "example": 2,
                          "description": "Numeric score of product."
                        }
                      }
                    },
                    "agent": {
                      "type": "object",
                      "description": "Primary agent contact details.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1913276,
                          "description": "Agent's unique identifier."
                        },
                        "name": {
                          "type": "string",
                          "example": "Dainius Gudauskas",
                          "description": "Agent's full name."
                        },
                        "contact": {
                          "type": "object",
                          "properties": {
                            "mobile": {
                              "type": "string",
                              "example": "+97142483751",
                              "description": "Mobile number."
                            },
                            "phone": {
                              "type": "string",
                              "example": "+97142483751",
                              "description": "Phone number."
                            },
                            "whatsapp": {
                              "type": "string",
                              "example": "971545695868",
                              "description": "WhatsApp number."
                            },
                            "proxy_phone": {
                              "type": "string",
                              "example": "",
                              "description": "Proxy phone number for contact."
                            }
                          }
                        }
                      }
                    },
                    "media": {
                      "type": "object",
                      "description": "Photos and videos associated with the property.",
                      "properties": {
                        "cover_photo": {
                          "type": "string",
                          "example": "https://bayut-production.s3.eu-central-1.amazonaws.com/image/776459934/a5bf5018f5c6490db61ab833d848df5c",
                          "description": "URL of the cover image."
                        },
                        "photo_count": {
                          "type": "integer",
                          "example": 10,
                          "description": "Number of photos."
                        },
                        "photos": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "https://bayut-production.s3.eu-central-1.amazonaws.com/image/776459934/a5bf5018f5c6490db61ab833d848df5c"
                          ],
                          "description": "URLs of property photos."
                        },
                        "cover_video": {
                          "type": "string",
                          "example": "",
                          "description": "URL of cover video (if available)."
                        },
                        "video_count": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of videos."
                        },
                        "videos": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Property video URL."
                        },
                        "panorama_count": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of 360° panoramas."
                        }
                      }
                    },
                    "verification": {
                      "type": "object",
                      "description": "Verification timestamps.",
                      "properties": {
                        "is_verified": {
                          "type": "boolean",
                          "example": true,
                          "description": "Property verification flag - Bayut has checked this property's documentation to ensure its authenticity."
                        },
                        "verified_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-05-26 12:45:21",
                          "description": "Verification timestamp."
                        },
                        "truchecked_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-05-26 12:45:21",
                          "description": "TruCheck timestamp (Having TruCheck™ confirms that Bayut's quality control team has validated the Oqood (contracts) of this property)."
                        }
                      }
                    },
                    "legal": {
                      "type": "object",
                      "description": "Legal identifiers for the property.",
                      "properties": {
                        "permit_number": {
                          "type": "string",
                          "example": "71666743872",
                          "description": "A permit issued to RERA registered companies and Dubai developers confirming their right to advertise properties."
                        },
                        "dld_property_sk": {
                          "type": "string",
                          "example": "11761721",
                          "description": "DLD (Dubai Land Department) property key."
                        },
                        "dld_building_nk": {
                          "type": "string",
                          "example": "tabu-666738335",
                          "description": "DLD (Dubai Land Department) building key."
                        }
                      }
                    },
                    "project": {
                      "type": "object",
                      "description": "Development project details.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 2375,
                          "description": "Project's unique identifier."
                        },
                        "title": {
                          "type": "string",
                          "example": "Al Serh Residences 11",
                          "description": "Project name (in English)."
                        },
                        "title_ar": {
                          "type": "string",
                          "example": "الصرح ريزيدنسز 11",
                          "description": "Project name (in Arabic)."
                        },
                        "completion_status": {
                          "type": "string",
                          "example": "under-construction",
                          "description": "Project completion status."
                        },
                        "completion_details": {
                          "type": "object",
                          "properties": {
                            "start_date": {
                              "type": "date-time",
                              "example": "2023-11-12 20:00:00",
                              "description": "Date when construction started."
                            },
                            "completion_date": {
                              "type": "date-time",
                              "example": "2025-06-29 20:00:00",
                              "description": "Date of completion."
                            },
                            "completion_percentage": {
                              "type": "float",
                              "example": 90,
                              "description": "Percentage completion."
                            }
                          }
                        },
                        "developer": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1167,
                              "description": "Developer's unique identifier."
                            },
                            "name": {
                              "type": "string",
                              "example": "Asak Real Estate Development",
                              "description": "Developer name."
                            }
                          }
                        }
                      }
                    },
                    "contact_methods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "whatsapp",
                        "sms",
                        "email",
                        "call"
                      ],
                      "description": "Supported communication channels for inquiries."
                    },
                    "meta": {
                      "type": "object",
                      "description": "Metadata and lifecycle timestamps.",
                      "properties": {
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-05-26 12:45:16",
                          "description": "Creation timestamp."
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-06-07 04:41:55",
                          "description": "Last update timestamp."
                        },
                        "reactivated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-05-26 12:45:16",
                          "description": "Reactivation timestamp."
                        },
                        "approved_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-05-26 12:45:16",
                          "description": "Approval timestamp."
                        },
                        "touched_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-06-07 05:21:52",
                          "description": "Last activity timestamp."
                        },
                        "url": {
                          "type": "string",
                          "example": "https://www.bayut.com/property/details-11761721.html",
                          "description": "Property URL."
                        },
                        "product": {
                          "type": "string",
                          "example": "premium",
                          "description": "Listing product tier."
                        },
                        "product_label": {
                          "type": "string",
                          "example": "default",
                          "description": "Label for the listing product."
                        },
                        "source_id": {
                          "type": "integer",
                          "example": 1,
                          "description": "Internal source identifier."
                        }
                      }
                    },
                    "city_level_score": {
                      "type": "integer",
                      "example": 3,
                      "description": "City-level ranking score."
                    },
                    "indy_score": {
                      "type": "integer",
                      "example": 528,
                      "description": "Indy Score."
                    },
                    "location_purpose_tier": {
                      "type": "integer",
                      "example": 1,
                      "description": "Tier based on location and purpose."
                    },
                    "score": {
                      "type": "integer",
                      "example": 75,
                      "description": "Overall property quality score."
                    },
                    "amenities": {
                      "type": "array",
                      "description": "List of grouped amenities with localization.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "Features",
                            "description": "Amenity category."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "Centrally Air-Conditioned",
                              "Storage Areas",
                              "Study Room"
                            ],
                            "description": "Amenity names in English."
                          },
                          "items_ar": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "نظام تبريد مركزي",
                              "مناطق تخزين",
                              "غرفة دراسة"
                            ],
                            "description": "Amenity names in Arabic."
                          }
                        }
                      }
                    },
                    "floor_plan": {
                      "type": "object",
                      "description": "Floor plan assets.",
                      "properties": {
                        "2d_images": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "https://images.bayut.com/thumbnails/73152327-800x600.jpeg"
                          ],
                          "description": "URLs of 2D plan images."
                        },
                        "3d_images": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "https://images.bayut.com/thumbnails/73152328-800x600.jpeg"
                          ],
                          "description": "URLs of 3D plan images."
                        },
                        "models": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "https://sketchfab.com/models/e694d44ec21b4989bd42624d098c751c/embed"
                          ],
                          "description": "URLs of 3D models."
                        }
                      }
                    },
                    "payment_plans": {
                      "type": "array",
                      "description": "Structured payment plan schedules.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "down_payment": {
                            "type": "object",
                            "properties": {
                              "description": {
                                "type": "string",
                                "example": "",
                                "description": "Description of down payment."
                              },
                              "percent": {
                                "type": "float",
                                "example": 20,
                                "description": "Down Payment Percentage."
                              }
                            }
                          },
                          "pre_handover": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "string",
                                  "example": "Within 1 month from booking",
                                  "description": "Milestone description."
                                },
                                "percent": {
                                  "type": "float",
                                  "example": 2,
                                  "description": "Percentage due at milestone."
                                }
                              }
                            }
                          },
                          "handover": {
                            "type": "object",
                            "properties": {
                              "description": {
                                "type": "string",
                                "example": "",
                                "description": "Description of handover payment."
                              },
                              "percent": {
                                "type": "float",
                                "example": 70,
                                "description": "Percentage due at handover."
                              }
                            }
                          },
                          "post_handover": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "string",
                                  "example": "Within 3 months after handover",
                                  "description": "Milestone description."
                                },
                                "percent": {
                                  "type": "float",
                                  "example": 5,
                                  "description": "Percentage due."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "offplan_details": {
                      "type": "object",
                      "description": "Additional off-plan sale attributes.",
                      "properties": {
                        "sale_type": {
                          "type": "string",
                          "example": "new",
                          "description": "Type of off-plan sale."
                        },
                        "original_price": {
                          "type": "float",
                          "nullable": true,
                          "example": 1000000,
                          "description": "Original listing price."
                        },
                        "paid_price": {
                          "type": "float",
                          "nullable": true,
                          "example": 1000000,
                          "description": "Amount already paid."
                        },
                        "dld_waiver": {
                          "type": "int",
                          "example": 4,
                          "description": "Any applicable DLD waiver code."
                        }
                      }
                    },
                    "building_info": {
                      "type": "object",
                      "description": "High-level building specifications.",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Al Serh Residences 11 By Asak Real Estate Development",
                          "description": "Full building name."
                        },
                        "floors": {
                          "type": "integer",
                          "example": 7,
                          "description": "Number of floors."
                        },
                        "total_parking_space": {
                          "type": "integer",
                          "example": 120,
                          "description": "Total car parking spaces available."
                        },
                        "rooms": {
                          "type": "integer",
                          "example": 0,
                          "description": "Total rooms."
                        },
                        "total_building_area": {
                          "type": "number",
                          "format": "float",
                          "example": 166839.6,
                          "description": "Total built-up area of the building (in sqft)."
                        },
                        "shops": {
                          "type": "integer",
                          "example": 3,
                          "description": "Number of retail shops."
                        },
                        "offices": {
                          "type": "integer",
                          "example": 0,
                          "description": "Number of office units."
                        },
                        "swimming_pools": {
                          "type": "integer",
                          "example": 1,
                          "description": "Number of swimming pools."
                        },
                        "elevators": {
                          "type": "integer",
                          "example": 3,
                          "description": "Number of elevators."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/new_projects_search": {
      "post": {
        "summary": "New Projects Search",
        "description": "Returns a list of latest real estate projects in UAE filtered by  category, locations, developer, price, area, completion status, and more.\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paginated results (starts from 0).",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "langs",
            "in": "query",
            "description": "Comma-separated list of preferred language codes (`en`, `ar`, `ru`, `zh`).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "example": "ar"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Property category code to filter (`residential`, `hotel-apartments`, `apartments`, `townhouses`, `villas`, `penthouse`, `villa-compound`, `residential-plots`, `residential-floors`, `residential-building`,\n`commercial`, `offices`, `shops`, `warehouses`, `labour-camps`, `commercial-villas`, `bulk-units`, `commercial-plots`, `commercial-floors`, `commercial-buildings`, `factories`, `industrial-land`, `mixed-use-land`, `showrooms`, `commercial-properties`).",
                    "example": [
                      "villas",
                      "penthouse"
                    ]
                  },
                  "locations_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Comma-separated list of location IDs to filter projects by service areas.",
                    "example": [
                      2,
                      3
                    ]
                  },
                  "is_completed": {
                    "type": "boolean",
                    "example": false,
                    "description": "Flag to filter projects based on their completion status (`under-construction` or `completed`)."
                  },
                  "developer_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Developer's Unique identifier.",
                    "example": [
                      12,
                      118
                    ]
                  },
                  "rooms": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Allowed number of bedrooms.",
                    "example": [
                      0,
                      1,
                      2,
                      3
                    ]
                  },
                  "baths": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Allowed number of bathrooms.",
                    "example": [
                      1,
                      2,
                      3,
                      4
                    ]
                  },
                  "completion_percent_min": {
                    "type": "integer",
                    "description": "Minimum completion percentage of the projects under construction (applicable when `is_completed` is `false`).",
                    "example": 50
                  },
                  "completion_percent_max": {
                    "type": "integer",
                    "description": "Maximum completion percentage of the projects under construction (applicable when `is_completed` is `false`).",
                    "example": 100
                  },
                  "price_min": {
                    "type": "number",
                    "format": "float",
                    "description": "Minimum project price in AED.",
                    "example": 1300000
                  },
                  "price_max": {
                    "type": "number",
                    "format": "float",
                    "description": "Maximum project price in AED.",
                    "example": 26000000
                  },
                  "area_min": {
                    "type": "number",
                    "description": "Minimum area in sqft to filter properties.",
                    "example": 300
                  },
                  "area_max": {
                    "type": "number",
                    "description": "Maximum area in sqft to filter properties.",
                    "example": 20000
                  },
                  "completion_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Expected completion date (DD-MM-YYYY).",
                    "example": "31-12-2030"
                  },
                  "max_prehandover_percent": {
                    "type": "integer",
                    "description": "Maximum percentage payable before handover.",
                    "example": 70
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully returns matching real estate projects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Paginated response containing project search results.",
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "List of projects matching the search filters.",
                      "items": {
                        "type": "object",
                        "description": "Represents a single real estate project.",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique project identifier.",
                            "example": 773
                          },
                          "title": {
                            "type": "string",
                            "description": "Project title in English.",
                            "example": "Nima"
                          },
[...]
