django==5.2
djangorestframework==3.16.0
djangorestframework-simplejwt==5.4.0
django-admin-sortable2==2.2.4
django-cors-headers==4.7.0
django-nested-admin==4.1.1
django-phonenumber-field==8.1.0
django-solo==2.4.0
django-unfold==0.49.1
pillow==11.2.1
pdfkit==1.0.0
uvicorn[standard]==0.34.2
psycopg2-binary==2.9.10
python-telegram-bot==22.1
requests==2.32.3
redis==6.2.0
httpx==0.27
socksio==1.0.0
fast-bitrix24==1.8.5
celery==5.5.3
django-celery-beat==2.8.1